<!DOCTYPE html>
<html>
{% load static %}
{% load timestamp_to_time %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>RUKSAK - More than Travels</title>
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="bowtie_logo">
    <link rel="apple-touch-icon" type="{% static 'image/x-icon' %}" href="bowtie_logo">
    <link rel="apple-touch-icon" type="{% static 'image/x-icon' %}" sizes="72x72" href="bowtie_logo">
    <link rel="apple-touch-icon" type="{% static 'image/x-icon' %}" sizes="114x114" href="bowtie_logo">
    <link rel="apple-touch-icon" type="{% static 'image/x-icon' %}" sizes="144x144" href="bowtie_logo">
    
    <!-- CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    
    <!-- CSS -->
    <link href="{% static 'css/slider-pro.min.css' %}" rel="stylesheet">
     <link href="{% static 'css/date_time_picker.css' %}" rel="stylesheet">
    
     <!-- Google web fonts -->
   <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--Twilio-->
    <script type="text/javascript"
    src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>
        
</head>
<body>

<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

     <!-- Header================================================== -->
    <header>
        <div id="top_line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"><i class="tagline"></i><strong>RUKSAK - More than Travels</strong></div>
                                </div><!-- End Dropdown access -->
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End top line-->
        
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="Bowtie">
                        <h1><a href="index.html" title="City tours travel template">RUKSAK</a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="{% static 'img/logo_sticky.png' %}" width="160" height="34" alt="City tours" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        
                                </div><!-- End menu-wrapper -->
                            </li>
                        </ul>
                    </div><!-- End main-menu -->
                    
                            </div><!-- End dropdown-cart-->
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- container -->
    </header><!-- End Header -->

    {% if store.banner %}
    <section class="parallax-window" data-parallax="scroll" data-image-src="{{store.banner}}" data-natural-width="1400" data-natural-height="470">
    {% else %}
    <section class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/restaurant_top_in.jpg' %}" data-natural-width="1400" data-natural-height="470">
    {% endif %}
   
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h1> {{ store.name }}</h1>
                    <span>{{ store.address }}</span>
                    <span class="rating">
                        {% for i in store.rating_range %}
                            <i class="icon-smile voted"></i>
                        {% endfor %}
                    </span>
                </div>
                <div class="col-md-4 col-sm-4">
                   
                </div>
            </div>
        </div>
    </div>
    </section><!-- End section -->

    <div id="position">
            <div class="container">
                <ul>
                <li><a href="#">Main</a></li>
                <li><a href="#">Category</a></li>
                <li>{{store.types}}</li>
                </ul>
            </div>
    </div><!-- End Position -->

    
     <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div><!-- End Map -->
    
    <div class="container margin_60">
    <div class="row">
        <div class="col-md-8" id="single_tour_desc">
            <div id="single_tour_feat">
                
            </div>
            
            <p class="visible-sm visible-xs"><a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a></p><!-- Map button for tablets/mobiles -->
            
            <div id="Img_carousel" class="slider-pro">
                <div class="sp-slides">
                    {% for photo in store.photos %}
                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                            data-src="{{photo}}">
                        </div>
                        
                    {% endfor %}
                </div>
                <div class="sp-thumbnails">
                {% for photo in store.photos %}
                    <img alt="Image" class="sp-thumbnail" src="{{photo}}">
                {% endfor %}
                </div>
                
                
            </div>
            
            <hr>
            
            <div class="row">
                <div class="col-md-3">
                    <h3>Description</h3>
                </div>
                <div class="col-md-9">
                    <h4>About us</h4>
					<p>
						Telephone Number: {{store.phone}} </br>
                        Website: {{store.website}} </br>
                        Vicinity: {{store.vicinity}}
					</p>
					
                    <!-- End row  -->
                </div>
            </div>
            
			<hr>
            
			<div class="row">
				<div class="col-md-3">
					<h3>Reviews </h3>
				</div>
				<div class="col-md-9">
                	<div id="general_rating">{{ store.review_count }} Reviews 
                    <hr>
                    </div>
                    {% for review in store.reviews %}
                        <div class="review_strip_single">
                            <img src="{{review.photo}}" alt="Image" class="img-circle" style="max-height: 60; max-width: 60px;">
                            <small>{{ review.time | timestamp_to_time | date:"jS N, Y"}} </small>
                            <h4>{{review.name}}</h4>
                            <p>
                                 {{review.text}}
                            </p>
                            <span class="rating">
                                {% for i in review.rating_range %}
                                    <i class="icon-smile voted"></i>
                                {% endfor %}
                            </span>
                        </div><!-- End review strip -->
                    {% endfor%}
				
			     </div>
            </div>
        </div><!--End  single_tour_desc-->
        
        <aside class="col-md-4">    
        <div class="box_style_4">
            <i class="icon_set_1_icon-90"></i>
            <h4><span>Enquire</span> by phone</h4>
            <a href="tel://004542344599" class="phone">+6597760087</a>
            <small>Monday to Friday 8.00am - 10.00pm</small>
        </div>

        <div class="box_style_2">
            <i class="icon_set_1_icon-90"></i>
            <h4><span>Need </span> a transport to here?</h4>
            <a href="tel://004542344599" class="phone">+6586431667</a>
        </div>
       
        </aside>
    </div><!--End row -->
    </div><!--End container -->
    

<div id="toTop"></div><!-- Back to top button --> 
<div id="overlay"></div><!-- Mask on input focus -->  

<!-- Modal Review -->
<div class="modal fade" id="myReview" tabindex="-1" role="dialog" aria-labelledby="myReviewLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myReviewLabel">Write your review</h4>
			</div>
			<div class="modal-body">
				<div id="message-review">
				</div>
				<form method="post" action="assets/review_restaurant.php" name="review_restaurant" id="review_restaurant">
                <input name="restaurant_name" id="restaurant_name" type="hidden" value="Mexican Taco Mex">	
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input name="name_review" id="name_review" type="text" placeholder="Your name" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input name="lastname_review" id="lastname_review" type="text" placeholder="Your last name" class="form-control">
							</div>
						</div>
					</div>
					<!-- End row -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input name="email_review" id="email_review" type="email" placeholder="Your email" class="form-control">
							</div>
						</div>
					</div>
					<!-- End row -->
					<hr>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Position</label>
								<select class="form-control" name="position_review" id="position_review">
									<option value="">Please review</option>
									<option value="Low">Low</option>
									<option value="Sufficient">Sufficient</option>
									<option value="Good">Good</option>
									<option value="Excellent">Excellent</option>
									<option value="Superb">Super</option>
									<option value="Not rated">I don't know</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Service</label>
								<select class="form-control" name="service_review" id="service_review">
									<option value="">Please review</option>
									<option value="Low">Low</option>
									<option value="Sufficient">Sufficient</option>
									<option value="Good">Good</option>
									<option value="Excellent">Excellent</option>
									<option value="Superb">Super</option>
									<option value="Not rated">I don't know</option>
								</select>
							</div>
						</div>
					</div>
					<!-- End row -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Price</label>
								<select class="form-control" name="price_review" id="price_review">
									<option value="">Please review</option>
									<option value="Low">Low</option>
									<option value="Sufficient">Sufficient</option>
									<option value="Good">Good</option>
									<option value="Excellent">Excellent</option>
									<option value="Superb">Super</option>
									<option value="Not rated">I don't know</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Quality</label>
								<select class="form-control" name="quality_review" id="quality_review">
									<option value="">Please review</option>
									<option value="Low">Low</option>
									<option value="Sufficient">Sufficient</option>
									<option value="Good">Good</option>
									<option value="Excellent">Excellent</option>
									<option value="Superb">Super</option>
									<option value="Not rated">I don't know</option>
								</select>
							</div>
						</div>
					</div>
					<!-- End row -->
					<div class="form-group">
						<textarea name="review_text" id="review_text" class="form-control" style="height:100px" placeholder="Write your review"></textarea>
					</div>
					<div class="form-group">
						<input type="text" id="verify_review" class=" form-control" placeholder="Are you human? 3 + 1 =">
					</div>
					<input type="submit" value="Submit" class="btn_1" id="submit-review">
				</form>
			</div>
		</div>
	</div>
</div><!-- End modal review -->

<hr>

<!-- Hotel listings -->

<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Crash at</h3>
<!--End strip -->
    <div class="row">
        <div class="col-md-4 col-sm-4 wow zoomIn" data-wow-delay="0.1s">
            <div class="hotel_container">
                <div class="img_container">
                    <a href="single_hotel.html">
                    <img src="img/hotel_1.jpg" width="800" height="533" class="img-responsive" alt="Image">
                    <div class="score"><span>7.5</span>Good</div>
                    <div class="short_info hotel">
                        From/Per night<span class="price"><sup>$</sup>59</span>
                    </div>
                    </a>
                </div>
                <div class="hotel_title">
                    <h3><strong>Park Hyatt</strong> Hotel</h3>
                    <div class="rating">
                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
                    </div><!-- end rating -->
                </div>
            </div><!-- End box tour -->
        </div><!-- End col-md-4 -->
<!--End strip -->

        <div class="col-md-4 col-sm-4 wow zoomIn" data-wow-delay="0.2s">
            <div class="hotel_container">
                <div class="img_container">
                    <a href="single_hotel.html">
                    <img src="img/hotel_1.jpg" width="800" height="533" class="img-responsive" alt="Image">
                    <div class="score"><span>7.5</span>Good</div>
                    <div class="short_info hotel">
                        From/Per night<span class="price"><sup>$</sup>59</span>
                    </div>
                    </a>
                </div>
                <div class="hotel_title">
                    <h3><strong>Park Hyatt</strong> Hotel</h3>
                    <div class="rating">
                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
                    </div><!-- end rating -->
                </div>
            </div><!-- End box tour -->
        </div><!-- End col-md-4 -->
<!--End strip -->
    
        <div class="col-md-4 col-sm-4 wow zoomIn" data-wow-delay="0.3s">
            <div class="hotel_container">
                <div class="img_container">
                    <a href="single_hotel.html">
                    <img src="img/hotel_1.jpg" width="800" height="533" class="img-responsive" alt="Image">
                    <div class="score"><span>7.5</span>Good</div>
                    <div class="short_info hotel">
                        From/Per night<span class="price"><sup>$</sup>59</span>
                    </div>
                    </a>
                </div>
                <div class="hotel_title">
                    <h3><strong>Park Hyatt</strong> Hotel</h3>
                    <div class="rating">
                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
                    </div><!-- end rating -->
                </div>
            </div><!-- End box tour -->
        </div><!-- End col-md-4 -->
    </div>


 <!-- Common scripts -->
<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/common_scripts_min.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>

 <!-- Specific scripts -->
<script src="{% static 'js/icheck.js' %}"></script>
<script>
$('input').iCheck({
   checkboxClass: 'icheckbox_square-grey',
   radioClass: 'iradio_square-grey'
 });
 </script>
 <!-- Date and time pickers -->
<script src="{% static 'js/jquery.sliderPro.min.js' %}"></script>
<script type="text/javascript">
	$( document ).ready(function( $ ) {
		$( '#Img_carousel' ).sliderPro({
			width: 960,
			height: 500,
			fade: true,
			arrows: true,
			buttons: false,
			fullScreen: false,
			smallSize: 500,
			startSlide: 0,
			mediumSize: 1000,
			largeSize: 3000,
			thumbnailArrows: true,
			autoplay: false
		});
	});
</script>

 <!-- Date and time pickers -->
 <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
 <script src="{% static 'js/bootstrap-timepicker.js' %}"></script>
 <script>
  $('input.date-pick').datepicker('setDate', 'today');
  $('input.time-pick').timepicker({
    minuteStep: 15,
    showInpunts: false
})
  </script>
  
<!--Review modal validation -->
<script src="{% static 'assets/validate.js' %}"></script>

 <!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBJ2G9CadzNbX_DV8uuuY2GE-7yq0rENPk&libraries=places"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/infobox.js' %}"></script>
  </body>
</html>