{% extends 'bowtie_processor/base.html' %}
{% block content %}
{% load staticfiles %}
<div class="container-fluid full-height">
    <div class="row row-height">
        <div class="col-md-7 content-left">
            <div class="row">
                {% if stores%}
                    <h4>Search results for {{ word }}</h4>
                {% endif %}
            </div>

            {% for entry in stores %}
                <div class="col-md-6 col-sm-7">
                    <div class="tour_container">
                        <div class="img_container">
                            <a href="single_restaurant.html">
                            {% if entry.photo %}
                                <img src="{{ entry.photo }}" width="800" height="533" class="img-responsive" alt="Image">
                            {% else %}
                                <img src="{% static 'img/not_available.jpg' %}" width="800" height="533" class="img-responsive" alt="Image">
                            {% endif %}
                            <div class="short_info">
                                {{entry.types}}
                            </div>
                            </a>
                        </div>
                        <div class="tour_title">
                            <h3><strong>{{entry.name}}</strong></h3>
                            <div class="rating">
                                Address: {{entry.address}}
                            </div><!-- end rating -->
                            <div class="rating">
                                Rating: {{entry.rating}}/5
                            </div><!-- end rating -->
                            <div>
                                <a href="/details/{{entry.id}}">Explore more things about this Shop!</a>
                            </div>
                            <div onclick="setCenter({{entry.lat}}, {{entry.lng}})" class="view_on_map">View on map</div>
                        </div>
                    </div><!-- End box tour -->
                </div>
                 
            {% endfor %}


        </div>


        <div class="col-md-5 map-right hidden-sm hidden-xs">
            <div class="map" id="map" style="width:100%; height:100%"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var latitude = 0;
    var longitude = 0;
    var map;
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }
    function showPosition(position) {
        document.getElementById("lat_image").value = position.coords.latitude;
        document.getElementById("lng_image").value = position.coords.longitude;
        document.getElementById("lat_text").value = position.coords.latitude;
        document.getElementById("lng_text").value = position.coords.longitude;
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;

        var myLatLng = {lat: latitude, lng: longitude};
        var mapOptions = {
                zoom: 13,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,

                mapTypeControl: false,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                panControl: false,
                panControlOptions: {
                    position: google.maps.ControlPosition.TOP_RIGHT
                },
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.LARGE,
                    position: google.maps.ControlPosition.RIGHT_BOTTOM
                },
                 scrollwheel: false,
                scaleControl: false,
                scaleControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_BOTTOM
                },
                styles: [
                                             {
                    "featureType": "landscape",
                    "stylers": [
                        {
                            "hue": "#FFBB00"
                        },
                        {
                            "saturation": 43.400000000000006
                        },
                        {
                            "lightness": 37.599999999999994
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "stylers": [
                        {
                            "hue": "#FFC200"
                        },
                        {
                            "saturation": -61.8
                        },
                        {
                            "lightness": 45.599999999999994
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "stylers": [
                        {
                            "hue": "#FF0300"
                        },
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 51.19999999999999
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "stylers": [
                        {
                            "hue": "#FF0300"
                        },
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 52
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "stylers": [
                        {
                            "hue": "#0078FF"
                        },
                        {
                            "saturation": -13.200000000000003
                        },
                        {
                            "lightness": 2.4000000000000057
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "hue": "#00FF6A"
                        },
                        {
                            "saturation": -1.0989010989011234
                        },
                        {
                            "lightness": 11.200000000000017
                        },
                        {
                            "gamma": 1
                        }
                    ]
                }
                ]
            };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        {% for entry in stores %}

            var myLatLng = {lat: {{entry.lat}}, lng: {{entry.lng}} };
            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: '{{entry.name}}'
            });

        {% endfor %}
        
    }

    function setCenter(newLat, newLng) {
        map.setCenter({
            lat : newLat,
            lng : newLng
        });

        map.setZoom(20);
    }

    
</script>

{% endblock %}